@charset "UTF-8";


@font-face {
    font-family: "supermario";
    src: url('../fonte/SuperMario256.ttf')  format('truetype');
}


* {
    font-family: Arial, Helvetica, sans-serif;

    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: darkgray;
}


header, main, footer {
    width: 90vh;
    margin: auto;
}

.pjogos {
    background: url('../imagens/Principais-jogos-02-01-2025.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 140px;
    position: inherit;

    border-radius: 10px;

}

header > h1 {
    font-family: 'supermario';
    font-size: 50px;
    text-align: center;

    padding-top: 20px;
    padding-bottom: 10px;

    color: white;
}

div.titulo {
   flex-flow: row nowrap;
}

main > section {
    padding: 10px;
    margin: auto;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
}


main > section > h2 {
    padding-bottom: 10px;
    font-family: 'supermario';
    text-align: center;

    font-size:3em;
}

p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
    padding: 15px;

    gap: 0.2em;
}


.imagem {
    height: 250px;
    border-radius: 20px;
    
}

#jogo01 {
    background: url('../imagens/Super\ Mario\ Bros-jogo01.avif') no-repeat;
    background-size: contain;
    background-position: center;

    border-radius: 20px;
}

#jogo02 {
    background: url('../imagens/SuperMarioBros3-jogo03.jpg') no-repeat;
    background-size: contain;
    background-position: center;

    border-radius: 20px;
   
}

#jogo03 {
    background: url('../imagens/super\ Mario\ Odyssey-jogo03.jpg') no-repeat;
    background-size: contain;
    background-position: center;

    border-radius: 20px;

}

#jogo04 {
    background: url('../imagens/Super\ Mario\ World-jogo04.jpg') no-repeat ;
    background-size: contain;
    background-position: center;

    border-radius: 20px;
}

#jogo05 {
    background: url('../imagens/supermariogalaxy2-jogo05.png') no-repeat;
    background-size: contain;
    background-position: center;

    border-radius: 20px;
}


article#botao {
        margin: auto;
        text-align: center;
        padding-bottom: 5px;
}

#botao > a::after {
    text-decoration: blue;
}

footer {
    background-color: rgba(0, 0, 0, 0.301);
    color: white;
    font-size: small;
    text-align: center;

    padding: 5px;

    border-radius: 10px;
}

footer > a {
   text-decoration: none;
}

a:hover {
    text-decoration: dashed;
}

@media screen and (min-width: 330px) and (max-width: 768px) {

    header {
        display: block;
        
    }
    i#burguer {
        display: none;
    }
    menu {
        display: block;
    }
    menu > ul > li {
        display:  inline-flex;
    }

    main {
        width: 330px;
        margin: auto;
    }
    
    div#imagem {
        width: 30%;
        height: 50%;

        border-radius: 20px;


    }

@media screen and (min-width: 768px) and (max-width: 992px) {
    i#burguer {
        display: none;
    }
    menu {
        display: block;
    }
    menu > ul > li {
        display:  inline-flex;
    }

    main {
        width: 768px;
        margin: auto;
    }
    
    .imagem {
        margin: auto;  
        height: 25                                                0px;
        border-radius: 10px;
    
    }

    footer {
        background-color: rgba(0, 0, 0, 0.301);
        color: white;
        font-size: small;
        text-align: center;
    
        padding: 5px;
    
        border-radius: 10px;
    }

    }


@media screen and (min-width: 992px) and (max-width: 1200px) {
    i#burguer {
        display: none;
    }
    menu {
        display: block;
    }
    menu > ul > li {
        display:  inline-flex;
    }

    main {
        width: 992px;
        margin: auto;
    }

    .imagem {
        height: 250px;
        border-radius: 10px;
    
    }

    footer {
        background-color: rgba(0, 0, 0, 0.301);
        color: white;
        font-size: small;
        text-align: center;
    
        padding: 5px;
    
        border-radius: 10px;
    }
}