@charset "UTF-8";


@font-face {
    font-family: "supermario";
    src: url('../fonte/SuperMario256.ttf')  format('truetype');
}


* {
    font-family: Arial, Helvetica, sans-serif;

    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: darkgray;
}


header, main, footer {
    width: 90vh;
    margin: auto;
}

header {
    padding-left: 10px;
    padding-right: 10px;

    background-color: gray;

    border-radius: 20px;
    
    font-family: 'supermario';

}

header > h1 {
    font-family: 'supermario';
    font-size: 50px;
    text-align: center;

    color: white;
}

div.titulo {
   flex-flow: row nowrap;
}

main > section {
    padding: 10px;
    margin: auto;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
}


main > section > h2 {
    padding-bottom: 10px;
    font-family: 'supermario';
    text-align: center;

    font-size:3em;
}

p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
    padding: 15px;

    gap: 0.2em;
}

#jogo01 {
    background: url('imagens/Super\ Mario\ Bros-jogo01.avif') no-repeat;
    background-size: cover;
    background-position: center;

    margin: auto;
}

#jogo02 {
    background: url('imagens/SuperMarioBros3-jogo03.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    
    margin: auto;

}

#jogo03 {
    background: url('imagens/super\ Mario\ Odyssey-jogo03.jpg') no-repeat;
    background-size: cover;
    background-position: center;

    margin: auto;
}

#jogo04 {
    background: url('imagens/Super\ Mario\ World-jogo04.jpg') no-repeat ;
    background-size: cover;
    background-position: center;

    margin: auto;

}

#jogo05 {
    background: url('imagens/supermariogalaxy2-jogo05.png') no-repeat;
    background-size: cover;
    background-position: center;

    margin: auto;
  
}

main > section > div {
    background-size: cover;
    background-position: center;
    height: 400px;
       

    text-align: center;

    margin: auto;
}

article#botao {
        margin: auto;
        text-align: center;
        padding-bottom: 5px;
}

#botao > a::after {
    text-decoration: blue;
}

footer {
    background-color: gray;
    text-align: center;
    border-radius: 10px;

    font-weight: small;
}


footer > a {
   text-decoration: none;
}

a:hover {
    text-decoration: dashed;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    i#burguer {
        display: none;
    }
    menu {
        display: block;
    }
    menu > ul > li {
        display:  inline-flex;
    }

    main {
        width: 768px;
        margin: auto;
    }
    
    div#imagem {
        float: center;
        width: 30%;
        height: 100%;

        border-radius: 20px;
    }

    }


@media screen and (min-width: 992px) and (max-width: 1200px) {
    i#burguer {
        display: none;
    }
    menu {
        display: block;
    }
    menu > ul > li {
        display:  inline-flex;
    }

    main {
        width: 992px;
        margin: auto;
    }

    div#imagem {
        float: center;
        width: 30%;
        height: 100%;

        border-radius: 20px;


    }

}