@charset "UTF-8";

/*Para telas pequenas*/
@media screen and (min-width: 768px) and (max-width: 992px) {
    i#burguer {
        display: none;
    }
    menu {
        display: block;
    }
    menu > ul > li {
        display:  inline-flex;
    }

    main {
        width: 768px;
        margin: auto;
    }
    
    div#imagem {
        float: center;
        width: 30%;
        height: 100%;

        border-radius: 20px;


    }

    }

}

@media screen and (min-width: 992px) and (max-width: 1200px)) {
    i#burguer {
        display: none;
    }
    menu {
        display: block;
    }
    menu > ul > li {
        display:  inline-flex;
    }

    main {
        width: 992px;
        margin: auto;
    }

    div#imagem {
        float: center;
        width: 30%;
        height: 100%;

        border-radius: 20px;


    }



}
