@charset "UTF-8";

@font-face {
    font-family: "supermario";
    src: url('../fonte/SuperMario256.ttf')  format('truetype');
}


* {
    font-family: Arial, Helvetica, sans-serif;

    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: darkgray;
}

header {
    width: 90vh;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;

    background-color: gray;

    border-radius: 20px;
    
    font-family: 'supermario';

}
header > h1 {
    font-family: 'supermario';
    font-size: 50px;
    text-align: center;

    color: white;
}



div.titulo {
   flex-flow: row nowrap;
}

div#personagens {
    background: url('../imagens/MarioHub_Characters_artwork_chars.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 330px;
}
main > section {
    width: 90vh;
    padding: 10px;
    margin: auto;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
}


main > section > h2 {
    padding-bottom: 10px;
    font-family: 'supermario';
    text-align: center;

    font-size:3em;
}

p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
    padding: 15px;
}

#mario {
    width: 100px;
}

span {
    
    color: blue;
    display: block;
    text-align: center;
    padding: 10px;


}

section {
    display: block;

    justify-items: center;
}

section > div#mario {
    background: url('../imagens/MarioHub_Characters_CharBtn_Mario_on.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 120px;    

    text-align: center;

    margin: 10px;
}


section > div#luigi {
    background: url('../imagens/MarioHub_Characters_CharBtn_Luigi_on.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 120px;    

    text-align: center;

    margin: 10px;
}


section > div#peach {
    background: url('../imagens/MarioHub_Characters_CharBtn_Peach_on.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 180px;      

    text-align: center;

    margin: 10px;

}

section > div#daisy {
    background: url('../imagens/MarioHub_Characters_CharBtn_Daisy_on.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 160px;  

    text-align: center;

    margin: 10px;
}

section > div#toad {
    background: url('../imagens/MarioHub_Characters_CharBtn_Toad_on.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 178px;  

    text-align: center;

    margin: 10px;
}

section > div#yoshi {
    background: url('../imagens/MarioHub_Characters_CharBtn_Yoshi_on.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 250px;

    text-align: center;

    margin: 10px;

}

footer {
    display: flex;
    background-color: gray;

    margin: auto;

    border-radius: 10px;
 
}


.material-symbols-outlined {
    justify-content: center;
    align-content: center;
    align-self: center;
    width: 90vh;

    
}
/*
span {
    color: black;
    display: flex;
    text-align: center;
    padding: 10px;
    margin: auto;

    margin: auto;
}

*/
@media screen and (min-width: 768px) and (max-width: 992px) {
    i#burguer {
        display: none;
    }
    menu {
        display: block;
    }
    menu > ul > li {
        display:  inline-flex;
    }

    main {
        width: 768px;
        margin: auto;
    }
    
    div#imagem {
        float: center;
        width: 30%;
        height: 100%;

        border-radius: 20px;
    }

    }


@media screen and (min-width: 992px) and (max-width: 1200px)) {
    i#burguer {
        display: none;
    }
    menu {
        display: block;
    }
    menu > ul > li {
        display:  inline-flex;
    }

    main {
        width: 992px;
        margin: auto;
    }

    div#imagem {
        float: center;
        width: 30%;
        height: 100%;

        border-radius: 20px;


    }

}